
.navbar{
    background-color: #FFF7E2;
    width: 100%;
    height: 94px;
}


.nav-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.website-logo{
    width: 259px;
    height: 49px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-item{
    font-family: "Roboto";
    font-size: 20px;
    margin-right: 20px;
    color: #3A643B;
}

.active{
    font-weight: bold;
}

.button-container{
    display: flex;
    align-items: center;
}

.login-btn{
    background: transparent;
    border: 1px solid #3A643B;
    font-family: "Roboto";
    font-size: 16px;
    color: #3A643B;
    padding: 6px 10px;
    border-radius: 4px;
    margin-right: 12px;
    outline: none;
    cursor: pointer;
}

.sign-up-btn{
    background-color: #3A643B;
    border: none;
    font-family: "Roboto";
    font-size: 16px;
    color: #FFFFFF;
    padding: 6px 12px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}