.filters-list{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.filters-item{
    margin-right: 40px;
}

.select-input{
    background-color: #F3F3F3;
    border-radius: 5px;
    padding: 8px 10px;
    color: #585858;
    font-size: 16px;
    border: none;
    outline: none;
}

.filter-active{
    background-color: #DCEEDC;
    color: #3A643B;
}